.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modale{
    visibility: hidden;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    a{
        text-decoration: none;
    }
    &__window{
        overflow-y: auto;
        width: 630px;
        height: 731px;
        border-radius: 10px;
        background-color: white;
        .close{
            width: 20px;
            height: 20px;
            border-radius: 10px;
            position: relative;
            top: 30px;
            left: 580px;
            cursor: pointer;
        }
        h2{
            color: black;
            font-weight: 400;
            font-size: 26px;
            font-family: 'Work Sans';
            display: flex;
            justify-content: center;
            margin-top: 60px;
            padding-bottom: 46px;
        }
    }
    &__boutons{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Syne';
        span{
            width: 70%;
            border-bottom: 1px solid #B3B3B3;
            margin-bottom: 20px;
            margin-top: 20px; 

        };
        .bouton{
            margin-bottom: 23px;
        }
        .delete{
            color: red;
        }
    }
    &__gallery{
        figure{
            position: relative;
            padding-bottom: 10px;
            &:hover > .fleche{
                visibility: visible;
            }
        }
        img{
            width: 78px;
        }
        gap: 12.5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 15%;
        .icone{
            position: absolute;
            top: 5px;
            left: 55px;
            color: white;
            background-color: black;
            z-index: 1000;
            width: 17px;
            height: 17px;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: white;
                color: black;
            }
        }
        .fleche{
            left: 35px;
            top: 5px;
            visibility: hidden;
        }
        figcaption:hover{
            color: #B1663C;
            cursor: pointer;
        }
    }
    &__ajout{
        position: fixed;
        width: 630px;
        height: 670px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .enTete{
            display: flex;
            justify-content: space-between;
            margin: 30px;
            i:hover{
                cursor: pointer;
            }
        }
        h2{
            display: flex;
            justify-content: center;
            color: black;
            margin-bottom: 30px;
            font-weight: 400;
            font-family: 'Work Sans';
        }
        form{
            margin: 0 15%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .importStyle{
                position: relative;
                width: 100%;
                height: 169px;
                background-color: #E8F1F7;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 30px;
                .importIcone{
                    font-size: 5rem;
                    color: #B9C5CC;
                }
                input{
                    visibility: hidden;
                    width: 0;
                    height: 0;
                }
                p{
                    font-size: 10px;
                    color: #444444;
                }
                .bouton{
                    background-color: #CBD6DC;
                    color: #306685;
                    border-color: #CBD6DC;
                }
                #imagePreviewContainer{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;     
                    background-color:#E8F1F7;
                    #imagePreview{
                        height: 100%;
                    }               
                }
            }
            label{
                font-family: 'Work Sans';
                font-weight: 500;
                font-size: 15px;
                color: #3D3D3D;
            }
            input{
            border: none;
            width: 100%;
            height: 51px;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
            font-size: 25px;
            }
            select{
            border: none;
            width: 100%;
            height: 51px;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
            font-size: 25px;
            }
        }
        span{
            width: 100%;
            border-bottom: 1px solid #B3B3B3;
            margin-bottom: 10px;
            margin-top: 30px; 
        }
        
    }
}
.formulaireInvalide{
    background-color: #A7A7A7;
    color: white;
    border-radius: 60px;
    margin: auto;
    width: 237px;
    height: 36px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}
.formulaireValide{
    color: white;
    background-color: #1D6154;
    &:hover{
        cursor: pointer;
        background-color: #0E2F28;
        color: white;
    }
}
#erreur{
    text-align: center;
    margin: auto;
}